.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(100px, 1fr));
  height: 200px;
}

#title {
  grid-column-start: -1/*this should span the entire page, look into using negative numbers in grid-column-end*/;
  grid-column-end: 1;
}

.siblings {
  grid-column: span 2;
}

.uncles {
  grid-column: span 1;
  grid-row: span 2;
}

.grandparents {
  grid-column: span 2;
  grid-row: span 2;
}

.friend {
  grid-column: span 1;
  grid-row: span 1;
}

/* Style other types of family members below*/